In [ ]:
#importando as bibliotecas necessarias
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [ ]:
#uma variavel que recebe o arquivo csv 
arquivo = ('iris.csv')

In [ ]:
#lendo o arquivo iris
iris = pd.read_csv(arquivo)

In [ ]:
#exibindo as 5 primeiras linhas do arquivo iris
iris.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth      Species
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [ ]:
#mostrando as informações de iris
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SepalLength  150 non-null    float64
 1   SepalWidth   150 non-null    float64
 2   PetalLength  150 non-null    float64
 3   PetalWidth   150 non-null    float64
 4   Species      150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [ ]:
#usando o metodo describe() para descrever as colunas de iris
iris.describe()

       SepalLength  SepalWidth  PetalLength  PetalWidth
count   150.000000  150.000000   150.000000  150.000000
mean      5.843333    3.054000     3.758667    1.198667
std       0.828066    0.433594     1.764420    0.763161
min       4.300000    2.000000     1.000000    0.100000
25%       5.100000    2.800000     1.600000    0.300000
50%       5.800000    3.000000     4.350000    1.300000
75%       6.400000    3.300000     5.100000    1.800000
max       7.900000    4.400000     6.900000    2.500000

In [ ]:
#dividindo os dados em treino e teste
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(
                                                    iris.drop('Species',axis=1),
                                                    iris['Species'],
                                                    test_size=0.3
                                                    )

In [ ]:
#verificando a forma dos dados x
x_train.shape, x_test.shape

((105, 4), (45, 4))

In [ ]:
print(x_train)

     SepalLength  SepalWidth  PetalLength  PetalWidth
104          6.5         3.0          5.8         2.2
27           5.2         3.5          1.5         0.2
20           5.4         3.4          1.7         0.2
82           5.8         2.7          3.9         1.2
84           5.4         3.0          4.5         1.5
..           ...         ...          ...         ...
15           5.7         4.4          1.5         0.4
19           5.1         3.8          1.5         0.3
5            5.4         3.9          1.7         0.4
131          7.9         3.8          6.4         2.0
60           5.0         2.0          3.5         1.0

[105 rows x 4 columns]

In [ ]:
print(x_test)

     SepalLength  SepalWidth  PetalLength  PetalWidth
77           6.7         3.0          5.0         1.7
108          6.7         2.5          5.8         1.8
41           4.5         2.3          1.3         0.3
143          6.8         3.2          5.9         2.3
9            4.9         3.1          1.5         0.1
105          7.6         3.0          6.6         2.1
65           6.7         3.1          4.4         1.4
45           4.8         3.0          1.4         0.3
137          6.4         3.1          5.5         1.8
72           6.3         2.5          4.9         1.5
149          5.9         3.0          5.1         1.8
148          6.2         3.4          5.4         2.3
37           4.9         3.1          1.5         0.1
40           5.0         3.5          1.3         0.3
145          6.7         3.0          5.2         2.3
42           4.4         3.2          1.3         0.2
66           5.6         3.0          4.5         1.5
76           6.8         2.8          4.8         1.4
78           6.0         2.9          4.5         1.5
11           4.8         3.4          1.6         0.2
106          4.9         2.5          4.5         1.7
24           4.8         3.4          1.9         0.2
91           6.1         3.0          4.6         1.4
68           6.2         2.2          4.5         1.5
35           5.0         3.2          1.2         0.2
125          7.2         3.2          6.0         1.8
101          5.8         2.7          5.1         1.9
52           6.9         3.1          4.9         1.5
44           5.1         3.8          1.9         0.4
98           5.1         2.5          3.0         1.1
117          7.7         3.8          6.7         2.2
38           4.4         3.0          1.3         0.2
129          7.2         3.0          5.8         1.6
116          6.5         3.0          5.5         1.8
7            5.0         3.4          1.5         0.2
2            4.7         3.2          1.3         0.2
21           5.1         3.7          1.5         0.4
18           5.7         3.8          1.7         0.3
28           5.2         3.4          1.4         0.2
33           5.5         4.2          1.4         0.2
26           5.0         3.4          1.6         0.4
75           6.6         3.0          4.4         1.4
4            5.0         3.6          1.4         0.2
8            4.4         2.9          1.4         0.2
147          6.5         3.0          5.2         2.0

In [ ]:
#verificando a forma dos dados y
y_train.shape, y_train.shape

((105,), (105,))

In [ ]:
print(y_train)

104     Iris-virginica
27         Iris-setosa
20         Iris-setosa
82     Iris-versicolor
84     Iris-versicolor
            ...
15         Iris-setosa
19         Iris-setosa
5          Iris-setosa
131     Iris-virginica
60     Iris-versicolor
Name: Species, Length: 105, dtype: object

In [ ]:
print(y_test)

77     Iris-versicolor
108     Iris-virginica
41         Iris-setosa
143     Iris-virginica
9          Iris-setosa
105     Iris-virginica
65     Iris-versicolor
45         Iris-setosa
137     Iris-virginica
72     Iris-versicolor
149     Iris-virginica
148     Iris-virginica
37         Iris-setosa
40         Iris-setosa
145     Iris-virginica
42         Iris-setosa
66     Iris-versicolor
76     Iris-versicolor
78     Iris-versicolor
11         Iris-setosa
106     Iris-virginica
24         Iris-setosa
91     Iris-versicolor
68     Iris-versicolor
35         Iris-setosa
125     Iris-virginica
101     Iris-virginica
52     Iris-versicolor
44         Iris-setosa
98     Iris-versicolor
117     Iris-virginica
38         Iris-setosa
129     Iris-virginica
116     Iris-virginica
7          Iris-setosa
2          Iris-setosa
21         Iris-setosa
18         Iris-setosa
28         Iris-setosa
33         Iris-setosa
26         Iris-setosa
75     Iris-versicolor
4          Iris-setosa
8          Iris-setosa
147     Iris-virginica
Name: Species, dtype: object

In [ ]:
#instanciando o algoritimo
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=3)

In [ ]:
#treinado o meu algoritimo
knn.fit(x_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [ ]:
resultado = knn.predict(x_test)
resultado

array(['Iris-virginica', 'Iris-virginica', 'Iris-setosa',
       'Iris-virginica', 'Iris-setosa', 'Iris-virginica',
       'Iris-versicolor', 'Iris-setosa', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-setosa', 'Iris-setosa', 'Iris-virginica', 'Iris-setosa',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-setosa', 'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-setosa', 'Iris-virginica',
       'Iris-virginica', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica', 'Iris-setosa',
       'Iris-virginica', 'Iris-virginica', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica'], dtype=object)

In [ ]:
#execultando uma nova amostra para fazer um pequeno teste
test = np.array([[5.1, 3.5, 1.4, 0.2]])

In [ ]:
knn.predict(test), knn.predict_proba(test)

(array(['Iris-setosa'], dtype=object), array([[1., 0., 0.]]))

In [ ]:
#validando o nosso modelo com a matrix de confusão
print (
    pd.crosstab(
    y_test,
    resultado, 
    rownames=['Real'], 
    colnames=['          Predito'], 
    margins=True))

          Predito  Iris-setosa  Iris-versicolor  Iris-virginica  All
Real
Iris-setosa                 20                0               0   20
Iris-versicolor              0                9               2   11
Iris-virginica               0                1              13   14
All                         20               10              15   45

In [ ]:
from sklearn import metrics

In [ ]:
#metrica de validação
print(metrics.classification_report(
                                    y_test, 
                                    resultado, 
                                    target_names=iris['Species'].unique()
                                    ))

                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        20
Iris-versicolor       0.90      0.82      0.86        11
 Iris-virginica       0.87      0.93      0.90        14

       accuracy                           0.93        45
      macro avg       0.92      0.92      0.92        45
   weighted avg       0.93      0.93      0.93        45